.card-header    {
    background-color: rgb(45, 83, 197);
}

.team-heading   {
    background-color: rgb(224, 58, 58);
}

.text-center    {
    color:white;
}

.card-title {
    color:white;
}

body{
    background-image: url(./gtpfbg.png);
}